.hover-columna
  position: relative


.banner-interno__fondo
  background-image: url('../assets/curso/fondo-banner-internas.png') !important  
.recuadros-top-left
  background-image: url('../assets/curso/recuadros.png') !important  
  background-repeat: no-repeat
  background-size: 22% 63%
  background-position: -5% -15%
.tema1-rectangulo    
  background: url('../assets/curso/tema1-fondo.png')
  background-position: center
  background-size: 76% 84%
  background-repeat: no-repeat
  border-radius: 20px
  @media (max-width: 992px)  
    background-size: cover   

.bg-1
  background-color: #DEE4F0  
.bg-2
  background-color: #7BC0D1
.bg-blanco
  background-color: #fff 
.bg-gris
  background-color: #E8E8E8
.bg-gris2
  background-color: #F3F3F3
.bg-acento-botones
  background-color: #F37F4C  
.bg-acento-botones2  
  background-color: #FFD1BC 
.bg-primario
  background-color: #32D9CB
.bg-secundario
  background-color: #00A3BE 
.bg-naranja-degrade
  background: rgb(255,131,77)
  background: linear-gradient(180deg, rgba(255,131,77,1) 0%, rgba(254,87,13,1) 100%)
.bg-azul-degrade
  background: #00A3BE
  background: linear-gradient(180deg, #00A3BE 0%, #00525F 100%)


.float-left
  position: absolute
  bottom: -5%
  left: 1%
  @media (max-width: 992px) 
    position: inherit

.img-infografica.color-secundario.tema-1 .img-infografica__item
  width: 4.5%
.img-infografica.color-secundario.tema-1 .img-infografica__item__dot:before    
  background-color: transparent
  border-radius: 20%
.img-infografica.color-secundario.tema-1 .img-infografica__item__dot:after  
  background-color: #00a3be59

  