.hover-columna
  position: relative


.banner-interno__fondo
  background-image: url('../assets/curso/fondo-banner-internas.png') !important  

  
.bg-1
  background-color: #DEE4F0  
.bg-blanco
  background-color: #fff 
.bg-naranja
  background: rgb(255,131,77)
  background: linear-gradient(180deg, rgba(255,131,77,1) 0%, rgba(254,87,13,1) 100%)
.bg-azul
  background: #00A3BE
  background: linear-gradient(180deg, #00A3BE 0%, #00525F 100%)

  